<!DOCTYPE html>
<html>
    <head>
        <title>Login by Elementals.</title>
        <link rel="stylesheet" href="../static/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>

    <body>
        <a class="brand">
                <img class="greg-profile" src="../static/image/brandlogo.png">
                <h1 class="title">GregHarvest</h1>
        </a>

        <div class="buttons">
        <button>
            <img class="logo" src="../static/image/Google.png">
            <p>Login with Google</p>
        </button>
        <button>
            <img class="logo" src="../static/image/Apple.png">
            <p>Login with Apple</p>
        </button>
        <button>
            <img class="logo" src="../static/image/Phone.png">
            <p>Login with Phone</p>
        </button>
        <a class="guest-link" href="pre_setup.html">
            <span class="guest-label">Continue as Guest</span>
        </a>
        </div>
        <p class="footer">GregAi can make mistakes. Check important info.</p>
    </body>
</html>
